h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

body {
  font-family: monospace;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  justify-content: center;
  align-items: top;
}

section {
  height: 100vh;
}

.wrapper {
  width: 100%;
}

.pageheader {
  font-size: 6.5vw;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.images {
  align-items: center;
  justify-content: center;
}

#image {
  display:flex;
  width:150px;
  height: auto;
  float: left;
  padding: 1em;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .pageheader {
    font-size: 40px;
  }
  #image {
    width: 270px;
    height: auto;
  }
}
