h1 {
  font-size: 8rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

body {
  font-family: monospace;
  color: #f9f9f2;
  background-color: #f7e885;
  margin: 0;
}

section {
  height: 100vh;
}

#title {
  padding-top: 3em;
  padding-left: 22.5em;
  padding-right: 22.5em;
  display: grid;
  justify-content: center;
  align-items: top;
}

#gifs {
  padding-top: 11em;
  align-items: bottom;
}

.penguin {
  width: 24vw;
}

.cube {
  position: relative;
  left: 650px;
}
