h1 {
  font-size: 8rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

body {
  font-family: monospace;
  color: #f9f9f2;
  background-color: #f7e885;
  margin: 0;
  text-align: center;
}

section {
  height: 100vh;
}

#header {
  padding: 1em 0;
  display: block;
  width: 95%;
  height: auto;
}

#gifs {
  display: flex;
  height: auto;
}

.penguin {
  width: 50%;
}

.cube {
  width: 50%;
}
